/*.tile {
  background-color: black;
  color: white
  border: 1px solid white;
  height: 100px;
  width: 100px;
  display: inline-block;
}*/
.container {
  margin: 0 auto;
  height: 300px;
  width: 90%;
  height: 60%;
  position: relative;
  top: 50%;
  font-size: 0
}
.tile {
  background-color: black;
  border: 1px solid white;
  height: 98px;
  width: 30%;
  display: inline-block;
}
